<!DOCTYPE html>
<html lang="en" ng-app="bookmarkApp">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bookmark</title>
  <link rel="stylesheet" href="style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
  <script src="app/app.js"></script>
  <script src="app/contains.function.js"></script>
  <script src="app/byInput.filter.js"></script>
  <script src="app/colorByInput.filter.js"></script>
  <script src="app/bookmark.controller.js"></script>
</head>
<script>


</script>
<body ng-controller="BookmarkController">
  <div class="header">Bookmark</div>
  <div class="search">
    <div class="tags">
      
    </div>
    <div class="input">
      <input id="search" type="text" placeholder="Type your search" ng-model="search">
    </div>
    <div id="addNewDiv" class="add-new">
      <div class="input-row"><label for="title">Title: </label><input id="title" type="text" ng-model="newItem.title"></div>
      <div class="input-row"><label for="url">URL: </label><input id="title" type="text" ng-model="newItem.url"></div>
      <div class="input-row"><label for="description">Description: </label><input id="description" type="text" ng-model="newItem.description"></div>
      <div class="input-row"><label for="tags">Tags: </label><input id="tags" type="text" ng-model="newItem.tags"></div>
      <div class="input-button"><input type="button" value="Salvar" ng-click="saveItem(newItem)"></div>
    </div>
  </div>
  <div class="result">
    <div class="row" ng-class="{'selected': $index == selected}" ng-repeat="bookmark in bookmarks | filterByInput:search track by $index">
      <a href="{{bookmark.url}}" target="_blank">
        <div class="bookmark-url">{{bookmark.url}} = {{$index}}</div>
        <div class="bookmark-title" ng-bind-html="bookmark.title | colorByInput:search"></div>
      </a>
      <div class="bookmark-description">{{bookmark.description}}</div>
      <div class="bookmark-tag">Tags: {{bookmark.tags}}</div>
    </div>
  </div>
</body>
<script>
  window.onload = function() {
    document.getElementById("search").focus();
  }
</script>
</html>