@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  background-color: #e1e5f2;
  margin: 0;
}

header {
  background-color: #022b3a;
  color: #fff;
  /* height: 114px; */
}

header h1 {
  margin: 0;
  text-align: center;
  padding: 10px;
  font-size: 2.3rem;
}

main {
  max-width: 900px;
  margin: auto;
  /* margin-top: -3rem; */
  background-color: #FFF;
  padding: 10px;
  border-radius: 10px;
}

.edit-tags {
  margin-bottom: 10px;
}

.edit-tags .tag {
  font-size: .6rem;
  background-color: #d4d4da;
  display: inline;
  margin: 3px;
  padding: 2px 4px;
  border-radius: 4px;
}

.edit-tags .command {
  cursor: pointer;
  transition: .3s;
}

.edit-tags .command:hover {
  /* cursor: pointer; */
  text-decoration: underline;
}

.tags {
  color: #1f7a8c;
  background-color: #f5f6f7;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  
}

.tags p {
  margin: 0;
  font-weight: bold;
  display: inline-block;
}

.tags .button {
  display: inline;
  margin: 3px;
  padding: 2px 3px;
  border-radius: 4px;
  cursor: pointer;
  font-size: .7rem;
}

.tags .button.selected {
  background-color: #e1e5f2;
}

.tags .button .command {
  
  /* font-size: .6rem;
  background-color: #b2afd6;
  display: inline;
  margin: 3px;
  padding: 2px 4px;
  border-radius: 4px; */
}

.input {
  /* max-width: 600px; */
  margin: auto;
  padding: 5px;
  margin-bottom: 10px;
  /* height: 11vh; */
}

.input input {
  width: 100%;
  margin: auto;
  padding: .8rem;
  border-radius: 10px;
  border: none;
  background-color: #eff1f3;
  font-family: inherit;
  font-size: 1rem;
  margin-bottom: 10px;
}

.input-actions {
  display: flex;
  justify-content: space-evenly;
}

.input-actions button{
  padding: .7rem;
  background-color: #217d92;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  transition: .3s;
  cursor: pointer;
}

.input-actions button:hover, .add-new input[type="button"]:hover {
  background-color: #154955;
}

.add-new {
  min-height: 21vh;
  color: #1f7a8c;
  font-weight:  bold;
}

.add-new label {
  margin-right: .5rem;
}

.add-new input[type="text"] {
  border: none;
  background-color: #eff1f3;
  padding: .4rem;
  margin-bottom: .8rem;
  border-radius: 4px;
  font-size: .9rem;
}

/* .add-new input[type="select"] {

} */

.add-new input[type="button"] {
  padding: .3rem .5rem;
  background-color: #217d92;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: .8rem;
  font-weight: bold;
  transition: .3s;
  cursor: pointer;
}

.add-new input[value="Save"] {
  margin: 1rem 0 2rem;
}

.add-new input[value="Add Tag"] {
  margin-left: 1rem;
}

.add-new .edit-tags {
  display: inline-block;
}


.result {
  margin-bottom: 10px;
  /* max-width: 600px; */
  /* margin: auto; */
  /* padding: 5px; */
}

.result .row {
  /* background-color: rgb(228, 228, 228); */
  margin-bottom: 15px;
  border-radius: 7px;
  padding: 8px;
  cursor: pointer;
  /* border: 1px solid red; */
}

.result .row .bookmark-url {
  font-size: 0.7rem;
  margin-bottom: 5px;
}

.result .row .bookmark-title {
  font-size: 0.9rem;
  overflow: auto;
  margin-bottom: 5px;
  /* border: 1px solid red; */
}

.result .row .bookmark-title .content {
  float: left;
  /* border: 1px solid blue; */
}
.result .row .bookmark-title .actions {
  float: right;
  font-size: 0.54rem;

  /* border: 1px solid blue; */
}
.result .row .bookmark-title .actions:hover {
  float: right;
  font-size: 0.54rem;
  text-decoration: underline;
  /* border: 1px solid blue; */
}

.row.selected {
  background-color: rgb(200 199 255 / 38%)
}
.row:hover {
  background-color: rgb(200 199 255 / 20%)
}

.result .row .bookmark-description {
  /* padding: 5px; */
  margin-bottom: 5px;
  font-size: 0.75rem;
}

.result .row .bookmark-tag {
  /* padding: 5px; */
  margin-bottom: 5px;
  font-size: 0.65rem;
}


a:link, a:visited {
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}