body {
  font-family: Verdana;
  box-sizing: border-box;
}

.header {
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
  height: 80px;
}

.tags {
  height: 40px;
  background-color: lightblue;
  margin-bottom: 10px;
}

.input {
  height: 40px;
  background-color: lightblue;
  margin-bottom: 10px;
  max-width: 600px;
  margin: auto;
  padding: 5px;
  margin-bottom: 10px;

}
.input input {
  width: 98%;
  margin: auto;
}

.result {
  margin-bottom: 10px;
  max-width: 600px;
  margin: auto;
  padding: 5px;
}

.result .row {
  /* background-color: rgb(228, 228, 228); */
  margin-bottom: 15px;
  border-radius: 7px;
  cursor: pointer;
}
.result div {
  /* border: 1px solid red; */
}

.result .row .bookmark-url {
  padding: 2px;
  font-size: 0.7rem;
}

.result .row .bookmark-title {
  padding: 5px;
  font-size: 0.9rem;
}
.row .spotlight {
  font-weight: 800;
}
.row.selected {
  background-color: rgb(200 199 255 / 38%)
}
.row:hover {
  background-color: rgb(200 199 255 / 20%)
}

.result .row .bookmark-description {
  padding: 5px;
  font-size: 0.75rem;
}

.result .row .bookmark-tag {
  padding: 5px;
  font-size: 0.65rem;
}
a {
  color: #1a0dab;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}